{% extends "master.html" %}

{% block title %}
Ansible Host Summary
{% endblock %}

{% block body %}
<h1>Ansible Host Summary</h1>
<table id="ansible-host-summary" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Hostname</th>
            <th>OS Version</th>
            <th>Python3 version</th>
            <th>Status Notes</th>
            <th>Virtual Disk Size (MB)</th>
            <th>Special Notes</th>
            <th>Running</th>
            <th>Cyteen CPU Allocation</th>
            <th>Cyteen RAM Allocation</th>
            <th>Cyteen CPU Use</th>
            <th>Cyteen RAM Use</th>
            <th>R720 CPU Allocation</th>
            <th>R720 RAM Allocation</th>
            <th>R720 CPU Use</th>
            <th>R720 RAM Use</th>
        </tr>
    </thead>
    <tbody>
    {% for host in host_summary %}
        <tr>
            <td>{{ host.id }}</td>
            <td>{{ host.hostname }}</td>
            <td>{{ host.os_version|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.python3_version|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.status_notes|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.virtual_disk_size_mb|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.special_notes|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.running|default_if_none:"False" }}</td>
            <td>{{ host.cyteen_vm_cpu_allocation|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.cyteen_vm_ram_allocation|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.cyteen_vm_cpu_use|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.cyteen_vm_ram_use|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.r720_vm_cpu_allocation|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.r720_vm_ram_allocation|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.r720_vm_cpu_use|default_if_none:"&nbsp;" }}</td>
            <td>{{ host.r720_vm_ram_use|default_if_none:"&nbsp;" }}</td>
        </tr>
    {% endfor %}
    <tfoot>
            <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ totals.cyteen_vm_cpu_total|default_if_none:"&nbsp;" }}</td>
            <td>{{ totals.cyteen_vm_ram_total|default_if_none:"&nbsp;" }}</td>
            <td></td>
            <td></td>
            <td>{{ totals.r720_vm_cpu_total|default_if_none:"&nbsp;" }}</td>
            <td>{{ totals.r720_vm_ram_total|default_if_none:"&nbsp;" }}</td>
        </tr>
    </tfoot>
    </tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
    $('#ansible-host-summary').DataTable();
});

</script>

{% endblock %}

{% block js %}
{% endblock %}